body {
    font-size: 16px;
    color: #ff00bb;
    background-color: #e8cae0;
    font-family: 'Roboto Slab', serif;
}
#header-nav{
    background-color: #e6d554;
    border-radius: 0;
    border: 0;
}

.logoImage{
    width: 180px;
    height: 180px;
    padding: 5px;
    background:url('logo1.jpg') no-repeat;
    background-size: contain;

}
.pull-left{
    float: left;
}
.title{
    padding: 25px;
    text-shadow: 1px 1px 1px #300324;
    text-decoration: none;
    font-size: x-large;
    color: #ff00bb;
    text-decoration: dashed;
    margin-left: 10px;
    
}
.title a:hover a:focus{
    text-decoration: none;
}