.box {
    background-color: #787ba5;
    border: 2px solid #010212;
    min-height: 60px;
    font-size: 300px;
}

.logoImage{
    width: 100px;
    height: 100px;
    padding: 0px;
    background:url('logo1.jpg') no-repeat;
    background-size: contain;
    position: absolute;
}