body {
    font-size: 16px;
    color: #ff00bb;
    background-color: #e8cae0;
    font-family: 'Roboto Slab', serif;
}
#header-nav{
    background-color: #e6d554;
    border-radius: 0;
    border: 0;
}

#logo-img{
    background:url('logo1.jpg') no-repeat;
    background-size: contain;
}